<ion-view>
    <ion-content class="has-header padding">
        <div style="height:100%" class="flex-container">
            <label style="width:95%;margin: auto;margin-top: 1em;margin-bottom:0;border-width:2px" class="regis-input">
                <input ng-model="note.title" style="width: 100%;text-align: center;font-size: 1.5em" type="text" disabled>
            </label>

            <div class="note-textarea" bind-html-compile="note.content" ></div>   
        </div>
    </ion-content>

    
</ion-view>