 <ion-view>  
   <ion-content class="has-header">
        <div style="height:100%" class="flex-container">
            <label style="width:95%;margin: auto;margin-top: 1em;margin-bottom: 0px;border-width:2px" class="regis-input">
                <input ng-model="note.title" style="width: 100%;text-align: center;font-size: 1.5em" type="text" placeholder="โน๊ตของฉัน ">
            </label>
             <textarea class="note-textarea" my-text="" id="editTextArea" ng-keyup="getCursorPos($event)" ng-click="getCursorPos($event)"  ng-model="note.contentOriginal"></textarea>
        
            <!--<textarea class="note-textarea" ng-show="note.modeEdit" ng-model="note.originalContent"></textarea>-->
        </div>
    </ion-content>
    <div class="tabs tabs-icon-left">
        <a ng-click="goToMap()" class="tab-item tab-icon">
            <i class="icon ion-android-pin color-green"></i>
            แผนที่
        </a>
        <a ng-click="openAnalysis()" class="tab-item tab-icon">
            <i class="icon {{note.analysis.icon}} {{note.analysis.color}}"></i>
            วิเคราะห์
        </a>
    </div>
</ion-view> 