
   <ion-view>
       <ion-content>
           place <input style="border-style: solid;border-color: black;border-width: 1px" type="text" ng-model="note.inputPlace">
           note <input style="border-style: solid;border-color: black;border-width: 1px" type="text" ng-model="note.inputNote">
           <button ng-click="submit()">submit</button>

           --------------------------------------------------------
            place <input style="border-style: solid;border-color: black;border-width: 1px" type="text" ng-model="note.seachPlace">
           <button ng-click="seach()">submit</button>
           {{note.result}}
       </ion-content>
    </ion-view>
